<header class="title text-center bg-customOrange m-0 p-4 text-white text-4xl font-thin mb-4">SeeDigital Library</header>
<section class="header h-12 mb-1 flex justify-center">
    <div class="header-content flex justify-between pb-2">
        <div class="search-section flex self-center">
            <input type="search" class="border border-gray-300 rounded-lg bg-white text-sm p-2 font-thin" placeholder="Search books.." aria-label="Search books">
        </div>
    </div>
</section>
<main class="books-container flex flex-wrap justify-center gap-x-5 g-4 mx-auto max-w-4xl mobile:p-5">
    <ng-container *ngFor="let book of booksList">
        <article class="book-wrapper bg-opacity-20 rounded-lg p-4 flex flex-col items-center shadow-md transition-transform transition-shadow w-full mb-5 desktop:w-calc-33p-40 tablet:w-calc-50p-40 hover:shadow-lg transition transform hover:-translate-y-1 relative">
            <div class="book-image-container w-full relative pt-120">
                <img class="book-image absolute top-0 left-0 w-full h-full rounded-lg object-cover" [src]="book.cover_image" alt="Book cover of {{book.title}}" loading="lazy">
            </div>
            <h2 class="mt-3 text-sm text-center text-gray-700 font-thin">{{book.title}}</h2>
            <p class="text-sm text-center text-gray-700 font-thin">{{book.author}}, {{book.publication_year}}</p>
            <button *ngIf="true" class="border border-gray-300 rounded-lg text-gray-500 font-thin pl-2 pr-2 mt-1">Like</button>
            <button *ngIf="false" class="border border-gray-300 rounded-lg text-gray-500 font-thin pl-2 pr-2 mt-1">Dislike</button>
           
        </article>
    </ng-container>
</main>
<footer class="footer mt-20 h-48 bg-customOrange">
</footer>
